#container {
  position: relative;
  height: 100%;
  width: 100%;
}

.mediaplayer{
  margin: 15px;
  bottom: 0px;
  border-radius: 25px;
  position:absolute;
  background-color: white;
  align-items: center;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  opacity: 0.4;
  left:30%;
  width:40%;
}
